@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dot-md-center {
    @apply h-1;
    @apply w-1;
    @apply rounded-md;
    top: 80%;
    left: calc(50% - 2px);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font: normal normal normal 18px/1.4em helvetica-w01-light, helvetica-w02-light,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
