.top-nav {
  flex: 1;
}
.top-nav > ul {
  padding: 0;
  max-width: 980px;
  margin: 9px auto;
  color: rgb(122, 123, 166);
  font-weight: 400;
  font-size: 15px;
}

.top-nav > ul > li {
  display: inline-block;
  padding: 0 15px;
}

.top-nav > ul > li > a.active {
  color: rgb(84, 191, 157);
}
