@tailwind components;

@layer components {
    .video-background {
        @apply -z-10;
        @apply fixed;
        @apply inset-0;
        @apply min-w-full;
        @apply min-h-full;
        @apply object-cover;
    }
}


.blank,
.other {
    width: 100%;
    min-height: 60vh;
}

.second {
    background-image:url(https://images.unsplash.com/photo-1514496959998-c01c40915c5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-attachment: fixed;
    height: 1200px;
}
